body{
    margin: 0;
    padding: 0;
    background: url(Photos/night-sky-colorful-beautiful-clouds-mountain-valley-digital-art-4k-wallpaper-uhdpaper.com-608@1@k.jpg);
    background-size: cover ; 
}

.box{
 width: 450px;
 background-color: rgb(109, 9, 56);
 padding: 40px;
 text-align: center;
 margin: auto;
 margin-top: 5%;
 color: white;
 font-family: sans-serif;  
 border-radius: 7px;
}

.box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.7s;
}

.box img:hover{
    transform: scale(0.9);
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
}

.box p{
    text-align: justify;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    font-size: 50px;
    transition: all ease-in-out 250ms;
}

.box li a:hover{
    color: #7e7e7e;
}